h2 {
    color: rgb(225, 162, 79);
}
.green {
    background-color: #00f8c6;
    margin: -23px;
    
}
.light {
    background-color: rgb(248, 91, 0);
    margin: -23px;
   
}
.city {
    background-color: rgb(255, 145, 2);
    margin: -23px;
}
.vienna {
    background-color: rgb(248, 0, 0);
    margin: -23px; ;
}
.italian {
    background-color: rgb(0, 0, 0);
    margin: -23px; ;

}
 h4 {
    color: white;
 }
 h5 {
    color: white;
 }
p {
    color: white;
   
}
body {
    background-color: rgb(224, 224, 217);
}
h3 {
   text-align: center; 
}
.roasting {
    background-color: white;
    
}
.header {
    background-image:url('qqwsa.jpeg') ;
    height:250px ;
    text-align: center;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
